# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Outputs and build
outputs/
dist/
build/
*.egg-info/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
